<div class="admin-container">
  <h2>Added Cart Items</h2>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
   
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems$ | async">
        <td><img [src]="item.imageUrl" alt="{{ item.name }}" width="60" height="60"></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
       
                <td>
          <button (click)="removeCartItem(item.id)">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>


